{% extends 'layout.html' %}
{% block title %} 
    QUFIND - Prokaryotes
{% endblock %}

{% block body %}
    <div class="container prokaryotesPage">
        <div class="mainContainer">
            <div class="topContainer">
                <h2>Select genes for mining G-quadruplexes:</h2>
                <div class="gapclass"></div>
                <h3>Select Domain:</h3>
                <table class="options_table">
                    <tbody>
                        <tr>
                            <td>
                                <a class="active" href="{{ request.script_root }}/prokaryotes?d=archaea">
                                    Archaea
                                </a>
                            </td>
                            <td>
                                <a href="{{ request.script_root }}/prokaryotes?d=bacteria">
                                    Bacteria
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="gapclass float_outer_div">
                    <div class="floatLeft phylumDiv">
                        <h3>Select Phylum:</h3>
                        <select name="" id="">
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                        </select>
                    </div>
                    <div class="floatLeft speciesDiv">
                        <h3>Select Species:</h3>
                        <select name="" id="">
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                        </select>
                    </div>
                    <div class="clearFloat"></div>
                </div>
                <div class="gapclass containerDiv">
                    <div class="leftContainerDiv floatLeft">
                        <h3>Select Strain:</h3>
                        <select name="" id="">
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                            <option value="">
                                1fgfgfdgdgd
                            </option>
                        </select>
                        <div class="gapclass"></div>
                        <h3>Search Type:</h3>
                        <div class="checkBoxDiv">
                            <div class="checkBoxLeft floatLeft">
                                <input type="checkbox" name="" id="genome_wide_search"/>
                                <label class="checkbox_label" for="genome_wide_search">Genome-wide Search</label>
                            </div>
                            <div class="checkBoxRight floatRight">
                                <input type="checkbox" name="" id="gene_wise_search"/>
                                <label class="checkbox_label" for="gene_wise_search">Gene-wise Search</label>
                            </div>
                            <div class="clearFloat"></div>
                        </div>
                        <div class="gapclass"></div>
                        <h4>Enter Ensembl Gene IDs below(or click on the gene symbol from the gene table):</h4>
                        <div class="textarea_label_div">
                            <a href="#">Load a list of 100 Random genes</a>
                            <a href="#">Clear Input</a>
                        </div>
                        <div class="textarea_div">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="gapclass cpg_island_div grayContainerBox">
                            <label>CpG Island:</label> 
                            <input type="radio" name="cpg_island" id="cpg_island_yes"><label for="cpg_island_yes">Yes</label>
                            <input type="radio" name="cpg_island" id="cpg_island_no"><label for="cpg_island_no">No</label>
                            <div class="gapclass cpg_island_select_div">
                                <select name="" id="">
                                    <option value="">Overlapping</option>
                                    <option value="">Non-Overlapping</option>
                                </select>
                            </div>
                        </div>
                        <div class="gapclass pg4_parameters_div grayContainerBox">
                            <h3>Configure PG4 motif parameters:</h3>
                            <div>
                                <div class="select_box_label_div floatLeft">
                                    <label>Stem size</label>
                                    <select name="" id="">
                                        <option value="2" selected>2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="select_box_label_div floatLeft">
                                    <label>Min. loop length</label>
                                    <select name="" id="">
                                        <option value="1" selected>1</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="select_box_label_div floatLeft">
                                    <label>Max. loop length</label>
                                    <select name="" id="">
                                        <option value="1" selected>1</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="clearFloat"></div>
                            </div>
                        </div>
                        <div class="gapclass grayContainerBox checkBoxDiv">
                            <div class="checkBoxLeft floatLeft">
                                <input type="checkbox" name="" id="overlapping"/>
                                <label class="checkbox_label" for="overlapping">Overlapping</label>
                            </div>
                            <div class="checkBoxRight floatRight">
                                <input type="checkbox" name="" id="non_overlapping"/>
                                <label class="checkbox_label" for="non_overlapping">Non-overlapping</label>
                            </div>
                            <div class="clearFloat"></div>
                        </div>
                        <div class="gapclass bulge_mismatch_div grayContainerBox">
                            <div>
                                <div class="select_box_label_div floatLeft">
                                    <label>Bulge</label>
                                    <select name="" id="">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="select_box_label_div floatLeft">
                                    <label>No. of mismatches allowed</label>
                                    <select name="" id="">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="clearFloat"></div>
                            </div>
                        </div>
                        <div class="gapclass grayContainerBox checkBoxDiv">
                            <div class="checkBoxLeft floatLeft">
                                <input type="checkbox" name="" id="positive_strand"/>
                                <label class="checkbox_label" for="positive_strand">'+' strand</label>
                            </div>
                            <div class="checkBoxRight floatRight">
                                <input type="checkbox" name="" id="negative_strand"/>
                                <label class="checkbox_label" for="negative_strand">'-' strand</label>
                            </div>
                            <div class="clearFloat"></div>
                        </div>
                        <div class="gapclass submit_button_div">
                            <button class="gray_button" type="button">Submit</button>
                        </div>
                    </div>
                    <div class="rightContainerDiv grayContainerBox floatLeft">
                        <h3>Gene from <label id="speceies_select_label">Saccharomyces cerevisae</label></h3>
                        <div class="input_list_outer_div">
                            <input type="text" name="" id="" autocomplete="off" placeholder="Search gene" />
                            <table class="gapclass">
                                <thead>
                                    <tr>
                                        <th>Gene Symbol</th>
                                        <th>Ensembl Gene ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearFloat"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}