{% extends 'layout.html' %}
{% block title %} 
    QUFIND - Prokaryotes
{% endblock %}

{% block body %}
    <div class="container qufindCommon qufinduPage">
        <div class="loadingWheelDiv">
            <div class="loadingWheel">
                <img src="{{ url_for('static', filename='images/spinner.gif')}}" alt="Loading Wheel">
            </div>
        </div>
        <div class="mainContainer">
            <form id="form_qufindu" action="{{ request.script_root }}/submitu" method="post">
                <div class="topContainer">
                    <h2>QUFINDU</h2>
                    <div class="gapclass containerDiv">
                        <div class="main_button_div">
                            <h3>Select Database:</h3>
                            <div class="outer_button_div">
                                <button type="button" class="active">
                                    Ensembl
                                </button>
                                <button type="button">
                                    NCBI
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="database" value="ensembl" id='database_value_input'>
                        <div class="gapclass ensembl_textarea_div active">
                            <h4>Enter Ensembl Gene IDs below:</h4>
                            <div class="textarea_label_clear_div">
                                <a href="#" onclick="loadExampleQufindu();return false;">Load a list of 10 Random genes</a>
                                <a href="#" onclick="document.getElementById('ensembl_id_textarea').value='';event.preventDefault();document.getElementById('ensembl_id_textarea').focus();">Clear Input</a>
                            </div>
                            <div class="textarea_div">
                                <textarea id="ensembl_id_textarea" name="ensembl_id_textarea" cols="30" rows="10"></textarea>
                            </div>
                            <label><b style="color: red;">*</b>It will take few minutes to automatically fetch data from Ensembl.( Only valid matching id's data will be processed.)</label>
                        </div>
    
                        <div class="gapclass ncbi_textbox_div">
                            <div class="label_textbox_div">
                                <label for="ncbi_accession_id">Analyse a sequence by NCBI Accession Id: </label>
                                <input name="ncbi_accession_id" type="text" id='ncbi_accession_id' autocomplete="off" />
                                <a href="#" onclick="document.getElementById('ncbi_accession_id').value = 'NC_000011.10';return false;" style="margin-left: 10px;">Load Example</a>
                            </div>
                            <label style="margin-top: 10px;display: block;">Note: <b style="color: red;">*</b>It will take few minutes to automatically fetch data from NCBI.</label>
                        </div>
                        
                        <div class="gapclass radio_button_div grayContainerBox">
                            <label>Do you want to search for CpG Islands?: &nbsp;&nbsp;</label>
                            <div class="radioLeft">
                                <input checked type="radio" name="cpg_island" id="cpg_island_no" value="no">
                                <label class="radio_checkbox_label" for="cpg_island_no">No</label>
                            </div>
                            <div class="radioRight">
                                <input type="radio" name="cpg_island" id="cpg_island_yes" value="yes">
                                <label class="radio_checkbox_label" for="cpg_island_yes">Yes</label>
                            </div>
                        </div>
    
                        <div class="gapclass bottomDataContainer grayContainerBox">
                            <div class="gapclass radio_button_div grayContainerBox" id='cpg_model_yes_div'>
                                <label>Which CPG Model: &nbsp;&nbsp;</label>
                                <div class="radioLeft">
                                    <input checked type="radio" name="cpg_model" id="cpg_model_non" value="nonoverlapping">
                                    <label class="radio_checkbox_label" for="cpg_model_non">Non-Overlapping</label>
                                </div>
                                <div class="radioRight">
                                    <input type="radio" name="cpg_model" id="cpg_model" value="overlapping">
                                    <label class="radio_checkbox_label" for="cpg_model">Overlapping</label>
                                </div>
                            </div>
                            <div class="gapclass radio_button_div grayContainerBox">
                                <label class="model_type_label active" id="cpg_no_label">Choose Model: &nbsp;&nbsp;</label>
                                <label class="model_type_label" id="cpg_yes_label">Choose model for motif search: &nbsp;&nbsp;</label>
                                <div class="radioLeft">
                                    <input checked type="radio" name="model_type" id="model_type_non" value="nonoverlapping">
                                    <label sel class="radio_checkbox_label" for="model_type_non">Non-Overlapping model</label>
                                </div>
                                <div class="radioRight">
                                    <input type="radio" name="model_type" id="model_type" value="overlapping">
                                    <label class="radio_checkbox_label" for="model_type">Overlapping model</label>
                                </div>
                            </div>
                            <div class="gapclass motif_parameters_div grayContainerBox">
                                <h3>Configure Quadreplexes or Motif parameters:</h3>
                                <div>
                                    <div class="select_box_label_div select_box_div floatLeft">
                                        <label>Nucleobase to search:</label>
                                        <select name="nucleobase">
                                            <option value="G" selected>G</option>
                                            <option value="C">C</option>
                                            <option value="A">A</option>
                                            <option value="T">T</option>
                                        </select>
                                    </div>
                                    <div class="select_box_label_div select_box_div floatLeft">
                                        <label>Min. Stem size:</label>
                                        <select name="min_stem_size">
                                            {%for ele in range(2, 4)%}
                                                <option {%if ele == 2%}selected{%endif%} value="{{ele}}">{{ele}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="select_box_label_div select_box_div floatLeft">
                                        <label>Max. Stem size:</label>
                                        <select name="max_stem_size">
                                            {%for ele in range(4, 6)%}
                                                <option {%if ele == 4%}selected{%endif%} value="{{ele}}">{{ele}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="select_box_label_div select_box_div floatLeft">
                                        <label>Min. loop length</label>
                                        <select name="min_loop_length">
                                            {%for ele in range(1, 11)%}
                                                <option {%if ele == 1%}selected{%endif%} value="{{ele}}">{{ele}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="select_box_label_div select_box_div floatLeft">
                                        <label>Max. loop length</label>
                                        <select name="max_loop_length">
                                            {%for ele in range(5, 31)%}
                                                {% set default_selected = 7%}
                                                <option {%if ele == default_selected%}selected{%endif%} value="{{ele}}">{{ele}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="clearFloat"></div>
                                </div>
                            </div>
                            <div class="gapclass grayContainerBox radio_button_div table_equal_div">
                                <h3>Select strand(s) to search motifs:</h3>
                                <table class="tableEqualDiv">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input checked type="radio" name="strand" id="positive_strand"value="positive"/>
                                                <label class="radio_checkbox_label" for="positive_strand">'+' strand</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="strand" id="negative_strand" value="negative"/>
                                                <label class="radio_checkbox_label" for="negative_strand">'-' strand</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="strand" id="both_strands" value="both"/>
                                                <label class="radio_checkbox_label" for="both_strands">Both strands</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="gapclass bulge_mismatch_div grayContainerBox">
                                <h3>Do you want to search for atypical motifs?</h3>
                                <div>
                                    <div class="select_box_label_div select_box_div floatLeft">
                                        <div style="text-align: left;">
                                            <label>Bulges:</label>
                                            <select class="bulge_mismatch_select" name="bulges" id="bulges_select">
                                                {%for ele in range(0, 6)%}
                                                    <option {%if ele == 0%}selected{%endif%} value="{{ele}}">{{ele}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="select_box_label_div select_box_div floatRight">
                                        <div style="text-align: right;">
                                            <label>Mismatches: </label>
                                            <select class="bulge_mismatch_select" name="mismatches" id="mismatches_select">
                                                {%for ele in range(0, 3)%}
                                                    <option {%if ele == 0%}selected{%endif%} value="{{ele}}">{{ele}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearFloat"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="gapclass submit_button_div">
                            <button class="gray_button" type="button" id="qufindu_submit_button">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}