{% extends 'layout.html' %}
{% block title %} 
    QUFIND - Contact Us
{% endblock %}

{% block body %}
    <div class="container contactus">
        <div class="row">
            <div class="descblock">
                <h4>Dr. Vikas Sood</h4>
                <div>Assistant Professor, Department of Biochemistry</div>
                <div>Jamia Hamdard, New Delhi, 110062, India</div>
                <div><b>Email:</b> v.sood@jamiahamdard.ac.in; vikas1101@gmail.com </div>
            </div>
            <div class="descblock">
                <h4>Dr. Baljeet Kaur</h4>
                <div>Associate Professor, Department of Computer Sciences</div>
                <div>Hansraj College (University of Delhi), Delhi, 110007, India</div>
                <div><b>Email:</b> baljeetkaur26@hotmail.com </div>
            </div>
        </div>
    </div>
{% endblock %}