{% extends "layout.html" %}
{% block title %} 
    QUFIND - Home Page
{% endblock %}

{% block body %}
    <div class="container indexPage">
        <div class="mainContainer">
            <p>
                The <b>QUFIND (QUadruplex FINDer)</b> is a model that allow the mining and visualization of G-quadruplexes (or non-G-quadruplexes) in DNA or RNA sequences. Recent advances in literature points towards the cross-talk among CpG islands (CGIs) and G-quadruplexes. So, it is designed to handle the prediction of CGIs as well as G-quadruplexes in a given sequence. G-quadruplexes are very short as compared to the CGIs, hence, this model can also predict the overlapping or non-overlapping G-quadruplexes within CGIs.
            </p>
            <p>
                It has been observed that mutations in a viral DNA or RNA sequence can lead to generation or disruption of the G-quadruplexes. This model is also dedicated to compare the G-quadruplexes in two viral sequences and allows the visualization of the unique quadruplexes in both the sequences.
                QUFIND contains three major modules: <b>QUFINDU</b>, <b>QUFINDV</b> and <b>QUFIND</b>. 
                <p><a href="{{ request.script_root }}/qufindU">QUFINDU</a> module allows users to mine G4 or non-G4 motifs in all species available in the two databases, ENSEMBL and NCBI. </p>
                <p><a href="{{ request.script_root }}/qufindV">QUFINDV</a> module allows users to compare two viral sequences on the basis of unique quadruplexes. Users need to align the two query sequences first (e.g. using Clustal W) and then trim the overhangs (especially at the 5’ end) found in the respective sequences. </p>
                <p><a href="{{ request.script_root }}/qufind">QUFIND</a> module allows users to mine G4 or non-G4 motifs in user provided sequences.</p>
            </p>
            <div class="index_button">
                <form action="{{ request.script_root }}/qufind" method="get">
                    <button class="gray_button" type="submit"> Proceed to Search</button>
                </form> 
            </div>
        </div>
    </div>
{% endblock %}